@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

* {
    box-sizing: border-box;
    color: #fff;
    margin: 0;
}

header, main {
    display: block;
    text-align: center;
    margin: 20px;
}

body {
    background-color: #5F77A5;
    width: 70%;
    display: block;
    margin: auto;
}

img {
    border-radius: 50%;
    height: 250px;
}

::placeholder, input {
    color: black;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: 'Playfair Display SC', serif;
    letter-spacing: -6px;
    font-weight: 400;

}

h5 {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 17px;
}

section {
    margin: 21px auto;
    max-width: 485px;
    padding: 0 25px;

}

#midlane {
    margin: 1%;
}

hr {
    width: 80%;
    display: block;
    margin: auto;
} 

nav li a {

    padding: 10px;
    font-size: 1.2rem;
}
nav ul li a:active {
    color: red;
}

ul {
    padding-left: 0;
}

footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

li,a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

.donate {
    display: block;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1px solid #fff;
    height: 5vmin;
    border-radius: 10px;

}

.donate1 {
    color: black;
}

#contact, #about {
    display: block;
    margin: auto;
}

.foot {
    padding: 1%;
    margin: 1%;
}

.black1 {
    color: black;
}

