#learn-container {
    position: relative;
}

#search-container {
    width: 50vw;
    margin: 3% auto;
}

#search-container > input {
    display: block;
    width: 25vw;
    margin: 25px auto;
}

#search-span {
    position: absolute;
    font-size: 1.3rem;
    cursor: pointer;
}

#favorites-modal, #work-on-it-modal, #another-modal {
    position: absolute;
    top: 0;
    border: 1px solid black;
    height: 10%;
    transition: all .75s;
}

#favorites-modal {
    width: 97%;
    background-color: #7f6ea6;
}

#work-on-it-modal {
    width: 94%;
    background-color: #9168a1;
}

#another-modal {
    width: 91%;
    background-color: #d9a21b;
}