#top-users {
    position: absolute;
    top: 0;
    left: 10vw;
    width: 0;
    height: 0;
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: aliceblue;
    color: black;
    transition: all 1s;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#top-users::-webkit-scrollbar {
  display: none;
}


#top-users > button {
    position: fixed;
    top: 8%;
    right: 8%;
    cursor: initial;
}

#top-users h1 {
    width: 50vw;
    margin: 10% auto;
    text-align: center;
    color: black 
}

#top-users h2 {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr;
    width: 100%;
}

#top-users span {
    margin-bottom: 2%;
    color: black;
    text-align: center;
}

#top-users h2:nth-child(2n) {
    background-image: linear-gradient(90deg, white, #00b9ca, white);
}

@media screen and (max-width: 1150px){ 
	#top-users > button {
        top: 12%;
    }
 }