@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

#about-us {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100vw;
    height: 120vh;
    background-color: #5F77A5;
    top: 0;
    left: 0;
    z-index: 200;
}

#content-about-us {
    width: 35vw;
    border: 10px solid rgba(30,30,30,0.5);
    padding: 1%;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 5px rgba(30,30,30,0.5));
}

h2 {
    font-family: 'Playfair Display SC', serif;
}
