/* same as Contact.css */
/* SignUp component uses Contact.css */


#contact1 {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100vw;
    height: 80vh;
    background-color: #5F77A5;
    top: 0;
    left: 0;
    z-index: 200;
}

#contact-form1 {
    display: grid;
    place-items: center;
    gap: 5%;
}