#blog-grid-container {
    display: grid;
    width: 90vw;
    margin: 5% auto;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    
}

#blog-grid-item {
    width: 400px;
    height: 600px;
    margin: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #595e6b;
    border: 1px dotted;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    filter: drop-shadow(5px 5px 5px rgba(30,30,30,0.5))
}


#blog-grid-item > h1 {
    text-align: left;
    padding-left: 1rem;
    font-size: 1.7rem;
    width: 100%;
    background-color: #404756;
    border-top-left-radius: 50px;

    /* border-top-left-radius: 50px; */
}

.title {
    padding: 2rem 0 2rem;
}

/* #blog-grid-item > h1,#blog-grid-item > h3,#blog-grid-item > p,#blog-grid-item > a {
    margin: 2%;
} */

#blog-grid-item > img {
    width: 100%;
    height: 230px;
    display: block;
    margin: auto;
    background-color: #595e6b;
}

#blog-grid-item > h2 {
    width: 100%;
    padding: 1rem 1rem;
    background-color: #595e6b;
    font-size: 1.3rem;
}

.article, .article2, .article3 {
    width: 100%;
    display: block;
    padding: 0 1rem;
}




.post-image {
    font-size: 2rem;
}

a {
    color: #f9f871;
}

@media only screen and (max-width: 1230px) {

    #blog-grid-container {
        grid-template-columns: 1fr;
    }

    #blog-grid-item > img {
        width: 100%;
        display: block;
        margin: auto;
    }


    
}